@model List<Pro3_Sem3.Models.PaymentDetail>
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

@if (Model == null @*|| Model.Count == 0*@)
{
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td class="text-center"><img src="~/Content/Photos/SanPham/@item.Hinh" width="70" height="60" /> </td>*@
                            <td><a target="_blank" href='@Url.Action("ShowFood", "Cart", new { food_id = item.Foodid })'> @item.Food.Foodname </a> </td>
                            <td>
                                <form action='@Url.Action("UpdateQuantity","Cart", new { soluongmoi = item.Quantity })' method="get">
                                    <input type="hidden" name="food_id" value="@item.Foodid" />
                                    <input type="number" min="1" step="1" name="soluongmoi" value="@item.Quantity" />
                                    <button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>
                                </form>
                            </td>
                            <td> @item.Food.Foodprice.ToString("#,##0").Replace(',', '.') VNĐ </td>
                            <td> @item.Total.ToString("#,##0").Replace(',', '.') VNĐ </td>

                            <td> <a href='@Url.Action("DeleteItem", new { food_id = item.Foodid })' onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td class="text-right">Tổng số lượng:</td>
                        <td> @Model.Sum(m => m.Quantity) </td>
                        <td class="text-right">Tổng thành tiền:</td>
                        <td>@Model.Sum(m => m.Total).ToString("#,##0").Replace(',', '.') VNĐ </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
}
