@model IEnumerable<Pro3_Sem3.Models.ViewHome>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Caterer</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a href='@Url.Action("DetailsCaterer", "Home",new { id = item.CaterersN.Caterid })'>
                            <img src="~/images/caterer/@item.CaterersN.Photo" alt="" style="max-width: 100%; border-radius: 5%" />


                            <h2>@item.CaterersN.Caterfullname</h2>

                            <p>@item.CaterersN.Caterphone</p>
                        </a>

                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        @using Microsoft.AspNetCore.Http
                        @if (Context.Session.GetString("no") == null)
                        {
                            <li><a href='@Url.Action("Login", "User")' onclick="return confirm('You need to login to Add wishlist!!')"><i class="fa fa-plus-square"></i>Add to WishList</a></li>
                        }
                        else
                        {

                            @if (@item.wishlist)
                            {
                                <li><a href='@Url.Action("RemoveWishList", "Home",new { id = item.CaterersN.Caterid })' class="wishlist"><i class="fa fa-plus-square"></i>Remove to WishList</a></li>
                            }
                            else
                            {
                                <li><a href='@Url.Action("AddWishList", "Home",new { id = item.CaterersN.Caterid })'><i class="fa fa-plus-square"></i>Add to WishList</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    <button type="button" data-toggle="modal" data-target="#flipFlop" id="lock"><i class="fa fa-search"></i></button>
</div>
<!--San pham moi-->
<!--Modal-->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter</h4>
            </div>

            <div class="modal-body">

                <section id="form">
                    <!--form-->


                    <form asp-action="Index" method="POST">

                        <div class="col-sm-12" style="margin:10px">
                            <label style="margin-right:10px">Name </label>
                            <input type="text" placeholder="Name" name="name" />

                        </div>
                        <br />
                        <div class="col-sm-12" style="margin:10px">

                            <label>District </label>
                            <select asp-items="ViewBag.data" name="address">
                                <option>--All--</option>
                            </select>
                        </div>
                        <br />
                        @*<div class="col-sm-12" style="margin:10px">
                            <label>Vegetarian </label>
                            <input type="checkbox" id="V" name="V" value="V">
                        </div>*@
                        <br />
                        <div class="col-sm-12" style="margin:10px">
                            <label>amount of people </label>
                            <select name="people">
                                <option>--All--</option>
                                <option value="51">50</option>
                                <option value="101">100</option>
                                <option value="151">150</option>
                                <option value="201">200</option>
                                <option value="251">250</option>
                                <option value="301">300</option>
                            </select>
                            <br />
                        </div>

                        <div class="col-sm-12" style="margin:10px">
                            <button type="submit" style="float:right" class="btn btn-default">Filter</button>
                        </div>

                    </form>

                </section>
            </div>

        </div>
    </div>
</div>
<!--Modal-->
